Repository xoeye/purify, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, core, dependencies, internal, documentation

.github/labeler.yml:

tests:
  - tests/**/*

core:
  - purify/**/*

dependencies:
  - Pipfile*

internal:
  - ./CHANGES.md

documentation:
  - ./README.md

Changed wording
  README.md
Labels: documentation

Bumping version
  CHANGES.md
  purify/__about__.py
Labels: core, internal

more doc updates
  README.md
Labels: documentation

better example
  README.md
Labels: documentation

search for release name rather than tag in changes.md
  .github/workflows/publish.yml
Labels: none

Update publish.yml
  .github/workflows/publish.yml
Labels: none

fix silly publish regex
  .github/workflows/publish.yml
Labels: none

add proto contributing.md
  CONTRIBUTING.md
Labels: none

Create SECURITY.md
  SECURITY.md
Labels: none

add py.typed to make mypy happier
  CHANGES.md
  README.md
  purify/__about__.py
  purify/__init__.py
  purify/py.typed
Labels: core, internal, documentation

Add pypi GH environment to publish step
  .github/workflows/publish.yml
Labels: none

Use __token__ username to authenticate to PyPI
  .github/workflows/publish.yml
Labels: none

OP-1154-python-3-10: Run unit tests across different python versions
  .github/workflows/unit-test.yml
Labels: none

Run mypy first
  .github/workflows/unit-test.yml
Labels: none

Cleaning up publishing workflow
  .github/workflows/publish.yml
  .gitignore
Labels: none

Bumping versions
  purify/__about__.py
Labels: core

Adding changes
  CHANGES.md
Labels: internal

Changing workflow to run on python container
  .github/workflows/publish.yml
Labels: none

Remove credentials from workflow
  .github/workflows/publish.yml
Labels: none

Mass update deprecated actions
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish.yml
  .github/workflows/unit-test.yml
Labels: none

pytest ~=7.1
  Pipfile
  Pipfile.lock
Labels: dependencies

initial pass at pyproject.toml and .pre-commit-config.yaml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  Pipfile
  Pipfile.lock
  env_runner.py
  mise.toml
  pyproject.toml
  setup.py
  uv.lock
Labels: dependencies

project cleanup and initial code migration
  .flake8
  .pre-commit-config.yaml
  .python-version
  purify/__about__.py
  purify/__init__.py
  purify/purify.py
  pyproject.toml
  tests/purify_test.py
  uv.lock
Labels: tests, core

Migrate CI to uv with Python 3.10-3.14 matrix
  .github/workflows/publish.yml
  .github/workflows/unit-test.yml
Labels: none

Add missing pyproject.toml metadata
  pyproject.toml
Labels: none
